<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
{% extends "base.html" %}


{% block content %}

<h1>Ugly's</h1>
{% for item in posts%}
<div class="col-md6 border rounded">
    <h2>{{item.title}}</h2>
    <div>
        {{item.content}}
    </div>
    <div>
        Текст - {{item.text}}
        <img src={{item.view_link}}>
    <p>Автор - {{item.user.nickname}}, Дата написания - {{item.created_date}}</p>

    </div>
</div>
{% endfor %}
{% endblock %}
</body>
</html>