<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
{% extends "base.html" %}


{% block content %}

<h1>Ugly's</h1>


{% for item in posts%}
<div class="col-md6 border rounded">


    <h2>{{item.title}}</h2>

    <div>
        {{item.content}}
    </div>

    <div>
        Текст - {{item.text}}
    <p>Автор - {{item.user.nickname}}, Дата написания - {{item.created_date}}</p>
    </div>

    {% if item.files_count != 0 %}
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
      <div class="carousel-item active">
      <img src="{{item.files_linked.split(', ')[0]}}" class="d-block w-100" alt="...">
      </div>
      {% if item.files_count > 1 %}
      {% for img in range(item.files_count) %}
      <div class="carousel-item">
      <img src="{{item.files_linked.split(', ')[img]}}" class="d-block w-100" alt="...">
      </div>
      {% endfor %}
      {% endif %}
    </div>

    </div>
    {% endif %}

</div>
{% endfor %}
{% endblock %}
</body>
</html>