<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posting into Sawed</title>
</head>
<body>
{% extends "base.html" %}

{% block content %}
<h1>Добавление новости</h1>
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.text.label }}<br>
        {{ form.text(class="form-control") }}<br>
        {% for error in form.text.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
  <p>
        {{ form.files.label }}<br>
        {{ form.files(class="form-control-file") }}<br>
        {% for error in form.text.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>

    <p>{{ form.is_private() }} {{ form.is_private.label }}</p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}

</form>

{% endblock %}
</body>
</html>